[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Rlof"]
	path = Rlof
	url = https://github.com/cran/Rlof
	shallow = true
	registered = true
